body { 
	margin: 0px; 
	font-family: Georgia;
	background-color: black;
	color: gold;
}

#header, #nav, #main, #info, #footer {  
	background: navy; 
	border: 1px solid black; 
	border-radius: 8px; 
	margin: 5px; 
	padding: 15px; 
} 

#flex-container { 
	display: flex; 
	flex-flow: row wrap; 
} 
/* header */
#header { 
	text-align: center;
	height: 100px; 
	width: 100%; 
	order:1;
} 
#header font {
	color: white;
}
#header div { 
	clear: none; 
} 
/* main */
#main { 
	color: black;
	text-align: center;
	height: auto; 
	background: gold; 
	width: 300px; 
	flex-grow:1;
	order:2;
} 
/* nav */
#nav { 
	width: 200px;
	height: 100px;
	text-align: center;
	order:3;
} 
.menu {
	text-align: center;
}
.menu ul{
	list-style: none;
	margin: 0;
	margin-top: 10px;
	padding: 0;
	width: 150px;
	background-color: gold;
	text-align: center;
	text-shadow: 2px 2px 2px silver;
	border-radius: 10px;
	display: inline-block;
}
.menu a{
	text-decoration: none;
	padding-top: 10px;
	padding-bottom: 10px;
	padding: 10px 20px;
	line-height: 1.2em;
	color: black;
	display: block;
}
.menu a:hover{
	background-color: gold;
	color: white;
}
/* Music Festival */
.menu .mf {
	position: absolute;
	top: 250px;
	background-color: #E9E1DB;
	box-shadow: 10px 10px 5px black;
	transform: rotate(-10deg)
}
.mf a:hover{
	background-color: #8E2469;
}
.mf li{
	overflow: hidden;
	height: 0px;
	transition: height 500ms;
}
li:hover .mf li{
	height: 40px;
}

#info { 
	width: 100px; 
	order:4;
} 
#info img {
	height: 100px;
	width: 100px;
	clear:right;
}
/* text */
#info h4 {
	text-align: center;
}
#info p {
	text-align: center;
}
#info font {
	color: white;
}

#footer { 
	height: 25px; 
	width: 100%;
	text-align: right;	
	order:5;
}
/* <1000px */
@media only screen and (max-width: 1000px) { 
	body {color: navy;}
	#header, #nav, #main, #info, #footer {  
		background: gold;
	}
	#header font {
		color: black;
	}
	#nav { 
		order: 4; 
		width: 100px;
	}
	.sub a{
		color: black;
	}
	.sub a:hover{
		background-color: navy;
		color: gold;
	}
	#main { 
		height: auto; 
		background: navy;
		color: gold;
	}
	#main img { 
		display: none; 
	} 
	#info { 
		order: 2; 
		width: 100px;
	}
	#info font {
		color: black;
	}
} 
/* <800px */
@media only screen and (max-width: 800px) {  
	body {color: gold;}
	#header, #nav, #main, #info, #footer {  
		background: navy;
	}
	#header font {
		color: white;
	}
	#nav { 
		order: 4; 
		width: 100%; 
	}   
	#nav ul {  
		display: flex; 
		flow-direction: row;      
		justify-content: space-around; 
	}
	.sub a{
		color: white;
	}
	.sub a:hover{
		background-color: gold;
		color: navy;
	}	
	#main { 
		height: auto; 
		background: gold;
		color: navy;
	} 
	#info { 
		display: none; 
	} 
} 